*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(214,205,7);
    background: linear-gradient(90deg, rgba(214,205,7,1) 0%, rgba(212,10,10,1) 35%, rgba(175,0,255,1) 100%);font-size: 25px;
    font-family: 'Peralta', cursive;

    font-size: 25px;
font-weight: bold;
}

.header{
background-color: #f1c496;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%23e65634' fill-opacity='0.65'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
background-color: #bbabd3;
height: 120px;
border-radius: 30px 30px 0 0 ;
width: 100%;
height: 120px;
border-bottom: 4px solid black;
}

.card{
width:400px ;
height: 500px;
background-color: aliceblue;
border-radius: 30px;
box-shadow: 0 0 20px black;
margin: 50px auto ;
position: relative;
top: 100px;
}

img{
    display : block ;
    width : 150px ;
    height : 150px ;
    background:
    linear-gradient ( Orgba ( 255,0,0,1 ) , Orgba ( 103,0,0,1)) padding-box ,
    linear-gradient ( to right , rgba ( 255,0,0,1 ) ,Orgba ( 103,0,0,1 ) ) border - box ;
    border-radius : 50% ;
    border: 4px solid transparent ;
    margin: auto ;
    position: relative ;
    top: 50px ;

}

.body{
text-align: center;
position: relative;
top: 85px;
}

.footer{
    padding-top: 10PX;
    position: absolute;
    bottom: 0;
    height: 150PX;
    width: 100%;
    text-align: center;
    border-top: 4px solid gray;
}


.dato{
display: inline-block;
padding: 20px;
text-align: center;
}

.claro{
    color: rgb(238, 10, 10);
    opacity: .5;
}
.numero{
 font-size : 25px ;
font-weight : bolder ;
text-shadow : 0 5px 5px gray ;
}

.tipo{
    color: gray;
    font-size: 15px;

}

